.button {
  text-transform: uppercase;
  color: red;
  font-weight: bold;
  padding: 10px;
  margin-top: 30px;
  border: 2px solid red;
  border-radius: 3px;
  background: none;
  position: relative;
  left: 22%;
  @include tablet {
    padding: 15px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 50px;
    left: 28.5%;
  }
}
